@font-face {
  font-family: Libre;
  src: url(../../fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(../../fonts/Roboto_Serif/RobotoSerif-VariableFont_GRAD\opsz\wdth\wght.ttf);
}

.btn {
  color: #fff;
}

.button_color {
    background-color: #5f5e9e !important;
    border: none;
    display: inline-block;
    color: #fff !important;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

.bg-color {
  background: #dbdced;
}
.bg-edit {
  background-color: #dbdced !important;
}
.divided {
  border: 1px solid white;
}
h3,
small {
  font-family: Libre;
}
a,
i,
label {
  font-family: Roboto;
}
#example_info {
  font-family: Roboto;
}

button {
  color: #000;
  font-style: bold;
}
label {
  display: block;
  font-weight: bold;
  margin: 5px 0;
}

/* For Radio Button */
.some-class {
  float: left;
  clear: none;
}

.full-paid {
  float: left;
  clear: none;
  display: block;
  padding: 0px 1em 0px 8px;
}

input[type=radio],
input.radio {
  float: left;
  clear: none;
  margin: 2px 0 0 2px;
}