@font-face {
    font-family: Libre;
    src: url(../../fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf);
  }
  
  @font-face {
    font-family: Roboto;
    src: url(../../fonts/Roboto_Serif/RobotoSerif-VariableFont_GRAD\opsz\wdth\wght.ttf);
  }
  .invalid-feedback {
    color: #dc3545 !important; }
/* Reseting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #fff;
    min-height: 100vh;
}

.wrapper{
    max-width: 900px;
    background-color: #5F5E9E; 
    /* background-color: #dbdcde; */
    border-radius: 10px;
    height: auto;
    position: relative;
    margin: 50px auto;
    box-shadow: 0 8px 20px 0px #1f1f1f1a;
    overflow: hidden;
}

.form_right label.is-invalid{
    color: #dc3545 !important;
}

.wrapper .form_left{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 20px 40px;
    position: relative;
}
/* 
.invalid-feedback {
color: red;
} */


.student_logo{
    width: 99%;
    padding-left: 10px;
}

.wrapper h2{
    font-weight: 700;
    font-size: 25px;
    padding: 5px 0 0;
    margin-bottom: 34px;
    pointer-events: none;
}



.wrapper .form_left p span{
    font-weight: 700;
}

.wrapper .form_left .form_left_button{
    padding: 15px;
    background: #fff;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 180px;
    border: none;
    margin: 15px 0 50px 0px;
    cursor: pointer;
    color: #333;
    font-weight: 700;
    font-size: 0.9rem;
    appearance: unset;
    outline: none;
}

.wrapper .form_left input:hover{
    background-color: #f2f2f2;
}

.wrapper .form_right{
    padding: 20px 40px;
    position: relative;
    background-color: #dbdcde;
}

.wrapper .form_right h2{
    color: #5F5E9E;
}

.wrapper .form_right .form-control{
    border-radius:0rem;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px 15px;
    outline: none;
    box-shadow: none;
    color: #333;
    font-size: 14px;  /**/
}

.wrapper .option {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    font-size: 0.95rem;
    font-weight: 900;
    cursor: pointer;
    user-select: none
}

.wrapper .option input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0
}

.uil{
    color: #000;
    display: inline-block;
}

.wrapper .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 2px
}

.wrapper .option:hover input~.checkmark {
    background-color: #f1f1f1
}

.wrapper .option input:checked~.checkmark {
    border: 2px solid #e5e5e5;
    background-color: #fff;
    transition: 300ms ease-in-out all
}

.wrapper .checkmark:after {
    content: "\2713";
    position: absolute;
    display: none;
    color: #5F5E9E;
    font-size: 1rem;
}

.wrapper .option input:checked~.checkmark:after {
    display: block
}

.wrapper .option .checkmark:after {
    left: 2px;
    top: -4px;
    width: 5px;
    height: 10px
}

.wrapper .form_right_button{
    padding: 12px;
    background: #5F5E9E;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 130px;
    border: none;
    margin: 32px 0 12px 0px;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
}
.button-left {
    position: absolute;
    bottom: 0.5px;
  }
  

.social_text{
margin-bottom: 0px;
}

.social_icon{
    color: #5F5E9E;
    display: inline-block;
    font-size: 28px;
}

.wrapper .form_right_button:hover{
    background-color: #5F5E9E;
}

.wrapper a{
    text-decoration: none;
}

@media (max-width: 860.5px) {
    .wrapper{
        margin: 50px 5px;
    }
}
@media (max-width: 767.5px){
    .wrapper{
        flex-direction: column;
        margin: 30px 20px;
    }

    .wrapper .form_left{
        border-bottom-left-radius: 0px;
    }

    
}

@media (max-width: 575px) {

    .wrapper{
        margin: 30px 15px;
    }

    .wrapper .form_left{
        padding: 25px;
    }
    .wrapper .form_right{
        padding: 25px;
    }
}